@{
	Layout = "~/Views/Shared/_GiftosLayout.cshtml";

}

@model IEnumerable<NewProject.DataDatamodels.Shop>

<!-- Default box -->
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Shop List</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
			<button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<div class="box-body">


		<div class="container my-5">

			<table class="table table-hover my-5">
				<thead class="table-info">
					<tr>
						<th>Serial</th>
						<th>Product Name</th>						
						<th>Product Image</th>
						<th>Product Price</th>
						<th>Action</th>

					</tr>
				</thead>
				<tbody>
					@{
						int serial = 1;
						foreach (var data in Model)
						{

							<tr>
								<td>@serial</td>
								<td>@data.ProductName</td>
								<td>
									<img src="@data.ProductImage" style="width:15%;" />
								</td>
								<td>@data.ProductPrice</td>
								
								
								<td>
									<a class="btn btn-info" asp-action="ShopEdit" asp-route-id="@data.Id">Edit</a>

									<a class="btn btn-danger" asp-action="ShopDelete" asp-route-id="@data.Id">Delete</a>

								</td>
							</tr>
							serial++;
						}
					}

				</tbody>
			</table>


		</div>

	</div><!-- /.box-body -->
	<div class="box-footer">
		Footer
	</div><!-- /.box-footer-->
</div><!-- /.box -->
